body{
    min-width: 280px;
    margin-left: 350px;
    color: white;
    background-color: coral;
    background-image:scr="
    line-height: 1.5;

}
#navbar{
    position: fixed;
    min-width: 280px;
    background-image: src="https://www.bing.com/images/search?view=detailV2&ccid=%2bOyZ%2bvy5&id=8B3F66DD504FB966D8FE214912023AB3D108EAAD&thid=OIP.-OyZ-vy55h7DLM5CuIDEjQHaEK&mediaurl=https%3a%2f%2fbbvaopen4u.com%2fsites%2fdefault%2ffiles%2fimg%2fnew%2fbbva-open4u-javascript.jpg&exph=421&expw=750&q=javascript&simid=607995861047905256&selectedIndex=6" alt="javascript";
    top:0px;
    left: 0px;
    width: 290px;
    height: 100%;
    border-right: solid;
    border-color: white;
}
header{
    color: black;
    margin: 10px;
    text-align: center;
    font-size: 1cm;
    font-weight: bold;
}
#navibar ul{
    height: 85%;
    overflow: auto;
}
#main-doc{
    position: left;
    margin-left: 320px;
    padding: 25px;
    margin-bottom: 100px;
}
#main-doc header{
    text-align: left;
    margin: 0px;
}
#navbar li{
    color: white;
    border: solid;
    border-bottom-width: 0cm;
    padding: 7px;
    padding-left: 35px;
    list-style: none;
    position: relative;
    left: -45px;
    width: 100%;
}